/* TEXT SLIDE LIST */
.text-slide{
    margin-right: 20px;
    padding: 10px;
    background-color:rgb(3, 30, 88) ;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.text-slide:hover{
    border: 1px solid yellow;
}
.content #buttonLine{
    margin: 1rem;
    flex-grow: 1;
    align-self: center;
    border: 1px solid rgb(15, 91, 94);
}
/* BUTTON */
.content #startButton {
    font-size: 17px;
    height: 30px;
    width: 70px;
    text-align: center;
    margin: 20px auto;
    display: block;
    color: rgb(12, 197, 197);
    background-color:rgb(3, 32, 93) ;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.content #startButton:hover{
    border: 1px solid yellow;
}

/* CIRCLE CSS */
.animation #outerCircle{
    border-radius: 100px;
    width: 200px;
    height: 200px;
    background-color: rgb(17, 40, 100);
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
}
.animation #outerCircle #circle {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    background-color: rgb(27, 59, 148);
    margin: 0 auto;
    transform: scale(0);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
}
/* TRACKER OF CYCLE */
.animation #tracker {
    background-color: rgb(14, 99, 83);
    border-radius: 7px;
    border: 2px solid rgb(15, 74, 108);
    margin: 0px auto;
    margin-top: 10px;
    height: 30px;
    width: 200px;
    display: flex;
    justify-content: flex-start;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
}
.animation #tracker #innerTracker{
    background-color: rgb(11, 191, 158);
    border-radius: 20px;
    height: 90%;
    margin: 1px 1px;
    width: 100%; 
    transition: width 10s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
}

/* TEXT INFORMATION  */
.information{
    color: rgb(12, 197, 197);
    text-shadow: 1px 1px 3px rgb(19, 131, 131);
    padding-top:30px ;
    text-align: justify;
}
.information-txt-line{
    margin: 1rem;
    flex-grow: 1;
    align-self: center;
    border: 1px solid rgb(15, 91, 94);
}
#titleInformation{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}
#contentInformation{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
