@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
body{
    background-color: rgb(23, 23, 75);
    font-family: "Comfortaa";
}
.selection{
    color: rgb(15, 214, 214);
    text-shadow: 1px 1px 3px rgb(19, 131, 131);
    display: flex;
    flex-direction: column;
    text-align: center;
}

div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px;
}

.text-slide{
    margin-right: 20px;
    padding: 10px;
    background-color:rgb(3, 30, 88) ;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.text-slide:hover{
    border: 1px solid yellow;
}
@keyframes smoothColorChange {
    from {
        background-color: rgb(3, 30, 88);
    }
    to {
        background-color: rgb(62, 16, 189);
    }
}

#catInformation{
    padding-top: 10px;
}
#secondTitle{
    padding-bottom: 10px;
}
#startButton {
    height: 30px;
    width: 70px;
    text-align: center;
    margin: 20px auto;
    display: block;
}
#outerCircle{
    border-radius: 100px;
    width: 200px;
    height: 200px;
    background-color: rgb(17, 40, 100);
    margin: 0 auto;
    margin-top: 20px;
}
#circle {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    background-color: rgb(27, 59, 148);
    margin: 0 auto;
    transform: scale(0);
}
@keyframes circleInhale {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes circleExhale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

.tracker {
    --progress: 0%; 
    background-color: rgb(19, 145, 122);
    border-radius: 5px;
    margin: 0px auto;
    margin-top: 10px;
    height: 30px;
    width: 200px;
    display: flex;
    justify-content: flex-start;
}
.tracker .innerTracker{
    background-color: rgb(18, 75, 65);
    border-radius: 5px;
    height: 100%;
    width: var(--progress); 
    transition: width 3s ease;
}
@property --progress {
    syntax: "<length>";
    inherits: false;
    initial-value: 0%;
}